.form-register {
  width: 50%;
  button {
    margin-left: 30px;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    border-color: #ececec;
    width: 100%;
    &:hover {
      background: #4e8cf0;
    }
  }
}

.form-input {
  display: flex;
  flex-direction: column;
}
