.menu-container {
  display: flex;
  align-items: center;
  button {
    border-radius: 5px;
    cursor: pointer;
    background: white;
    border-color: #ececec;
    width: 60px;
    &:hover {
      background: #4e8cf0;
    }
  }
}

.avatar-img {
  margin-right: 4px;
}

.name-title {
  font-weight: 700;
  margin-right: 12px;
}
